$node-el-width: 24px;
$node-el-margin-right: 4px;

$node-selected-bg: rgba(136, 136, 136, 0.31);
$node-selected-bg-hover: rgba(136, 136, 136, 0.10);

$checkbox-bg-color: #fff;
$checkbox-border-color: #d0d0d0;
$checkbox-border-color-hover: #38a0ff;
$checkbox-checked-color: #fff;
$checkbox-checked-bg-color: #2490f5;
$checkbox-checked-border-color: #2490f5;

$eyzy-theme-node-bg-hover: rgba(210, 231, 255, 0.3);
$eyzy-theme-node-bg-selected: rgb(210, 231, 255);

$eyzy-theme-red-checkbox-checked-bg-color: #f92e54;
$eyzy-theme-red-checkbox-border-color: #f92e54;
$eyzy-theme-red-checkbox-border-color-hover: #f92e54;

